{% comment %}
	@params
	customer 		- {customer object} *required
{% endcomment %}

<section class="account-content account-club">
	<div class="account-content__container">
		<div class="account-content__header">
			<h1 class="account-content__header-title">
				{{- 'customer.account.addresses.title' | t -}}
			</h1>
		</div>
	</div>
</section>
