<div class="help-center">
	<div class="container help-center__container"> 
		<div class="help-center__row">
			<div class="help-center__col help-center__col--menu">
				{{- menu -}}
			</div>
 
			<div class="help-center__col help-center__col--content">
				{{- content -}}
			</div>
		</div>
        
        <div class="help-center__gallery-container">
            {{- gallery -}}
        </div>
	</div>
</div>