{% comment %}
	@params
	product 				- {product object} *required
{% endcomment %}

<div class="product-rating">
	<div
		class="ruk_rating_snippet"
		data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"
	></div>
</div>
