{%- assign page_content                 = page.content -%}

<section class="help-center-content"
        data-section-id="{{- section.id -}}"
        data-section-type="help-center-content-click-and-collect"
>
    <div class="help-center-content__container">
        {{- page_content -}}
    </div>
</section>