{%- assign content                  = page.content -%}

<section class="help-center-content click-and-meet"
        data-section-id="{{- section.id -}}"
        data-section-type="help-center-content-click-and-meet"
>
    <div class="help-center-content__container help-center-content-click-and-meet">
        {{- content -}}
    </div>
</section>
