{%- assign page_content                 = page.content -%}

<section class="help-center-content"
        data-section-id="{{- section.id -}}"
        data-section-type="help-center-content-bezahlung"
>
    <div class="help-center-content__container help-center-content-bezahlung">
        {{- page_content -}}
    </div>
</section>